#titulo{
    color:tomato;
    font-family: Arial;
}

p.texto {
    color:white; 
    font-family: Arial;
}

.estilo-lista{
    color:white; 
    font-family: Arial;
}

.estilo-tabla th, .estilo-tabla td{
    color:white; 
    font-family: Arial;
    border: 1px white;
    padding: 8px;
    text-align: left;
}

.enlace{
    font-family: Arial;
    color:white; 
    font-size: 18px;
    font-weight: bold;
}

*{
    font-size: 18px;
    color:white; 
    background-color: black;
}


