body{
/* Arriba, derecha, Abajo, izquierda */
    margin: 40px 30px 20px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo{
    border-bottom: 2px solid gray;
}

#subtitulo{
    border-bottom: 1px solid gray;
}


.estilo-tabla{
    border-collapse: collapse;
    width: 100%;
}

.td,td{
    border: 1px solid black;
}

.th,th{
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
}