body{
/* Arriba, derecha, Abajo, izquierda */
    margin: 40px 30px 20px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo{
    border-bottom: 2px solid gray;
}

#subtitulo{
    border-bottom: 1px solid gray;
}


table{
    border-collapse: collapse;
    width: auto;
}

td,td{
    border: 1px solid rgb(158, 158, 158);
    text-align: center;
    padding: 8px;
}

th,th{
    border: 1px solid rgb(158, 158, 158);
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding: 8px;
}

td:nth-child(1){
    text-align: left; 
}

.escudo{
    display: block;
    margin: auto;
    border: 1px solid black;
}

figure{
display: inline-block;
border: 1px solid black;
padding: 10px;
background-color: rgb(228, 228, 228);
}

figcaption{
text-align: 200px;
max-width: auto;
padding-top: 10px;
word-wrap: break-word;
}

